{{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>

    <div class="form-group">
        {{ form_row(form.description) }}
    </div>

    <div class="form-group">
        {{ form_row(form.skills, { 'id': 'input-skills' } ) }}
    </div>




{{ form_end(form) }}

{% block javascripts %}

    <script type="text/javascript">
        $("#input-skills").tagit({
            autocomplete: {delay: 0, minLength: 0},
            availableTags: {{ skills|raw }},
            showAutocompleteOnFocus: true
        });
    </script>
{% endblock %}

