{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.firstname) }}
</div>
<div class="form-group">
    {{ form_row(form.lastname) }}
</div>
<div class="form-group">
    {{ form_row(form.username) }}
</div>
<div class="form-group">
    {{ form_row(form.plainPassword) }}
</div>
<div class="form-group">
    {{ form_row(form.email) }}
</div>
<div class="form-group">
    {{ form_row(form.phone) }}
</div>
<div class="form-group">
    {{ form_row(form.birthDate) }}
</div>
<div class="form-group">
    {{ form_row(form.address) }}
</div>
<div class="form-group">
    {{ form_row(form.enabled) }}
</div>
{{ form_end(form) }}

