<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/utils.css') }}">
            <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/fileinput.min.css') }}">
            <script src="{{ asset('js/fileinput.min.js') }}"></script>
            <script src="{{ asset('js/fileinput-theme.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('ipssi_homepage') }}">Home</a></li>
                        <li><a href="{{ path('news_homepage') }}">Actualités</a></li>
                        <li><a href="{{ path('news_homepage') }}">Offres d'emploi</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bonjour, {{ app.user }}<span class="caret"></span></a>                                
                            <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('intranet_homepage') }}">Intranet</a></li>
                            <li><a href="{{ path('user_profile') }}">Profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            </ul>
                            {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon IPSSI &nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            </ul>


                        {% endif %}
                        </li>

                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            {% block flashMessages %}

            {% endblock %}
        </div>
        
        <div class="container-fluid">
            <div class="row text-center">
                {% block headerContainer %}


                {% endblock %}
            </div>


            <div class="row">
                {% block body %}


                {% endblock %}
            </div>
        </div>

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
