<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Ipssi{% endblock %}">
        <meta name="keywords" content="{% block keywords %}Ipssi{% endblock %}">
        <title>{% block title %}Ipssi{% endblock %}</title>

        {% block stylesheets %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/utils.css') }}">
            <link rel="stylesheet" href="{{ asset('css/business-frontpage.css') }}">
            <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/fileinput.min.css') }}">
            <script src="{{ asset('js/fileinput.min.js') }}"></script>
            <script src="{{ asset('js/fileinput-theme.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block nav %}
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('ipssi_homepage') }}">Ipssi</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% for categorie in categories %}
                                {% if categorie.name != 'Accueil' and categorie.name != 'Autre' %}
                                    <li>
                                        <a href="{{ path('news_homepage') }}">{{ categorie.name }}</a>

                                    </li>
                                {% endif %}
                            {#<li>#}
                                {#<a href="{{ path('offer_homepage') }}">Offres d'emploi</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">Contact</a>#}
                            {#</li>#}
                            {% endfor %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bonjour, {{ app.user }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('intranet_homepage') }}">Intranet</a></li>
                                        <li><a href="{{ path('user_profile') }}">Profil</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}" role="button" >Mon IPSSI &nbsp</a>
                                {% endif %}
                            </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endblock %}




        <div class="container">
            {% block flashMessages %}

            {% endblock %}
        </div>
        

        {% block headerContainer %}


        {% endblock %}



        {% block body %}


        {% endblock %}



        {% block javascripts %}

        {% endblock %}
    </body>
</html>
