<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Ipssi{% endblock %}">
        <meta name="keywords" content="{% block keywords %}Ipssi{% endblock %}">
        <title>{% block title %}Ipssi{% endblock %}</title>

        {% block stylesheets %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/utils.css') }}">
            <link rel="stylesheet" href="{{ asset('css/business-frontpage.css') }}">
            <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/fileinput.min.css') }}">
            <script src="{{ asset('js/fileinput.min.js') }}"></script>
            <script src="{{ asset('js/fileinput-theme.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Piwik tracking -->
        <script type="text/javascript">
            var _paq = _paq || [];
            // tracker methods like "setCustomDimension" should be called before "trackPageView"
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analytics.echos-libres.org/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '4']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Piwik Code -->



    </head>
    <body>

        {{ render(controller('IpssiBundle:Default:menu')) }}


        <div class="container">
            {% block flashMessages %}

            {% endblock %}
        </div>
        

        {% block headerContainer %}


        {% endblock %}



        {% block body %}


        {% endblock %}



        {% block javascripts %}

        {% endblock %}
    </body>
</html>
