<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Intranet - Accueil{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.20/daterangepicker.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-colvis-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.4.1/featherlight.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />




            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Theme CSS -->
            <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('css/intranet.css') }}" rel="stylesheet">


            <!-- Morris Charts CSS -->
            <link href="{{ asset('css/plugins/morris.css') }}" rel="stylesheet">

            <link rel="stylesheet" href="{{ asset('css/utils.css') }}">


            <!-- Custom Fonts -->
            <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/fileinput.min.css') }}">



            <!-- Jquery UI -->
            <link rel="stylesheet" href="{{ asset('css/plugins/jui/jquery-ui.min.css') }}">


            <!-- Jquery Tag It ! -->
            <link rel="stylesheet" href="{{ asset('css/plugins/tagit/jquery.tagit.css') }}">





        {% endblock %}

        {% block head_javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/plugins/jui/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/plugins/tagit/jquery.tagit.min.js') }}"></script>

            <script src="{{ asset('js/fileinput.min.js') }}"></script>
            <script src="{{ asset('js/fileinput-theme.js') }}"></script>

            <!-- Morris Charts JavaScript -->
            <script src="{{ asset('js/plugins/morris/raphael.min.js') }}"></script>
            {#<script src="{{ asset('js/plugins/morris/morris.min.js') }}"></script>#}
            {#<script src="{{ asset('js/plugins/morris/morris-data.js') }}"></script>#}
        {% endblock %}

        {% block customStylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                {#{{ knp_menu_render('AppBundle:MenuBuilder:buildHeaderMenu', ) }}#}
                {#{{ knp_menu_render('AppBundle:MenuBuilder:buildSidebarMenu', {'currentClass': 'active', 'template': ':Menu:knp_menu.html.twig'}) }}#}


                {% include('navHeader.html.twig') %}
                {{ knp_menu_render('user', {'template': 'navUser.html.twig'}) }}
                {{ knp_menu_render('sidebar', {'template': 'navSidebar.html.twig'}) }}


                {#{% include('navSidebar.html.twig') %}#}
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <!-- Page Heading -->
                    <div class="row">
                        {% block headerContainer %}


                        {% endblock %}
                    </div>
                    <!-- /.row -->


                    <!-- CONTENT -->
                    {% block body %}

                    {% endblock %}
                    <!-- END CONTENT -->
                </div>
            </div>


            <!-- /#wrapper -->
        </div>

        {% block javascripts %}
        {% endblock %}

        {% block customJavascripts %}

        {% endblock %}

    </body>
</html>
