{% extends 'knp_menu.html.twig' %}

{% block item %}
    {% import "knp_menu.html.twig" as macros %}
    {% set childrens = item.children %}
    {% if item.displayed %}
        {% if childrens %}
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#{{ item.attribute('target') }}" class aria-expanded="true">
                    {% if item.attribute('icon') is not empty  %}
                        <i class="fa fa-fw fa-{{ item.attribute('icon') }}"></i>
                    {% endif %}
                    {{ item.label }}
                    {% if item.attribute('icon2') is not empty  %}
                        <i class="fa fa-fw fa-{{ item.attribute('icon2') }}"></i>
                    {% endif %}
                </a>
                <ul id="{{ item.attribute('target') }}" class="collapse">
                    {% for children in childrens %}
                        <li>
                            <a href="{{ children.uri }}">
                                {{ children.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ item.uri }}">
                    {% if item.attribute('icon') is not empty  %}
                        <i class="fa fa-fw fa-{{ item.attribute('icon') }}"></i>
                    {% endif %}
                    {{ item.label }}
                    {% if item.attribute('icon2') is not empty  %}
                        <i class="fa fa-fw fa-{{ item.attribute('icon2') }}"></i>
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endif %}

{% endblock %}