{% extends "base.html.twig" %}

{% block description %} {{ page.metaDescription }} {% endblock %}
{% block keywords %} {{ page.metaKeywords }} {% endblock %}
{% block title %} {{ page.title }} {% endblock %}

{% block headerContainer %}

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        {{ page.content|raw }}

        <hr>

    </div>

{% endblock %}