{% extends 'intranet.html.twig' %}

{% block title %} Page {% endblock %}

{% block head_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.20/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.4.1/featherlight.min.js"></script>
    <script src="https://raw.githubusercontent.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js'></script>

{% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Pages
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Pages
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {#<a href="{{ path('intranet_page_create') }}" class="btn btn-primary" style="margin-bottom:10px;">Nouvelle page</a>#}

    {#<div class="table-responsive">#}
        {#<table class="table table-bordered table-hover">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>#</th>#}
                {#<th>Nom</th>#}
                {#<th>Titre</th>#}
                {#<th>Slug</th>#}
                {#<th>Statut</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for page in allPages %}#}
            {#<tr>#}

                    {#<td>{{ page.id }}</td>#}
                    {#<td>{{ page.name }}</td>#}
                    {#<td>{{ page.title }}</td>#}
                    {#<td>{{ page.slug }}</td>#}
                    {#<td>#}
                        {#{% if page.status == 0 %}#}
                            {#Hors ligne#}
                        {#{% else %}#}
                            {#En ligne#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td>#}
                        {#<a href="{{ path('intranet_page_view', {'id': page.id}) }}" class="fa fa-eye" title="Aperçu"></a>#}
                        {#<a href="{{ path('intranet_page_update', {'id': page.id}) }}" class="fa fa-pencil-square-o" title="Modifier"></a>#}
                        {#<a href="{{ path('intranet_page_delete', {'id': page.id}) }}" class="fa fa-trash-o" title="Supprimer"></a>#}
                        {#{% if page.status == 0 %}#}
                            {#<a href="{{ path('intranet_page_online', {'id': page.id}) }}" class="fa fa-toggle-off" title="Mettre en ligne"></a>#}
                        {#{% else %}#}
                            {#<a href="{{ path('intranet_page_offline', {'id': page.id}) }}" class="fa fa-toggle-on" title="Mettre hors ligne"></a>#}
                        {#{% endif %}#}
                    {#</td>#}

            {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}

    {{ datatable_render(datatable) }}

{% endblock %}