{% extends '::base.html.twig' %}

{% block title %}
    {{ offer.name }}
{% endblock %}

{% block headerContainer %}

    <div class="container">


        <ol class="breadcrumb text-left">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('ipssi_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('offer_homepage') }}">Offres</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> {{ offer.name }}
            </li>
        </ol>
    </div>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12">

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Créé le {{ offer.createdAt|date('m/d/Y') }} à {{ offer.createdAt|date('H:i') }}</p>

            <hr>

            {# If the user already postulated #}
            {% set candidate = false %}
            {% for candidacy in app.user.candidacies %}
                {% if offer == candidacy.offer %}
                    {% set candidate = true %}

                    <div class="alert alert-success" role="alert">
                        Vous avez déjà postulé à cette offre
                    </div>

                    <hr>
                {% endif %}
            {% endfor %}

            <!-- Page Content -->

            <p>
                {{ offer.description|raw }}
            </p>
            <hr>

            {% if candidate == false %}
                <a href="{{ path('offer_candidate', { 'slug': offer.slug }) }}" class="btn btn-primary">Postuler</a>
            {% endif %}

        </div>
    </div>


{% endblock %}