{% extends '::base.html.twig' %}

{% block title %}
    {{ offer.name }}
{% endblock %}

{% block headerContainer %}

    <div class="container">


        <ol class="breadcrumb text-left">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('ipssi_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('offer_homepage') }}">Offres</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> {{ offer.name }}
            </li>
        </ol>
    </div>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12">


            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ offer.name|capitalize }}</h1>

            <!-- Author -->
            <p class="lead">
                Offre ajoutée le {{ offer.createdAt|date('d/m/Y') }} à {{ offer.createdAt|date('H:i') }}
            </p>

            <hr>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="container">
                        <div class="col-md-4">
                            <p>Société : <a href="{{ path('intranet_society_view', { 'society': offer.society.id }) }}" target="_blank" >{{ offer.society.name }}</a></p>
                            <p>Localisation : {{ offer.location }}</p>
                        </div>
                        <div class="col-md-4">
                            <p>Type de contrat : {{ offer.contract }}</p>
                            <p>A partir de : {{ offer.beginDate }}</p>
                        </div>
                        <div class="col-md-4">
                            <p>Rémunération : {{ offer.salary }} {{ offer.currency }}</p>
                            {% if offer.duration is not null %}<p>Durée : {{ offer.duration }}</p>{% endif %}
                        </div>
                    </div>

                </div>
            </div>

            {% if offer.society.logo is not null %}

                <hr>

                <img src="{{ asset(offer.society.logo.webPath) }}" height="200">

            {% endif %}


            {# If the user already postulated #}
            {% set candidate = false %}
            {% if app.user.candidacies is defined %}
                {% for candidacy in app.user.candidacies %}
                    {% if offer == candidacy.offer %}
                        {% set candidate = true %}

                        <div class="alert alert-success" role="alert">
                            Vous avez déjà postulé à cette offre
                        </div>

                        <hr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Page Content -->

            <p>
                {{ offer.description|raw }}
            </p>
            <hr>

            {% if candidate == false %}
                <a href="{{ path('offer_candidate', { 'slug': offer.slug }) }}" class="btn btn-primary">Postuler</a>
            {% endif %}

        </div>
    </div>


{% endblock %}