{% extends "intranet.html.twig" %}

{% block title %} Offre de poste {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Offre de poste
            <small>Aperçu : {{ jobOffer.job.title }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{ path('intranet_homepage') }}">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> <a href="{{ path('intranet_job_homepage') }}">Offre de poste</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Aperçu : {{ jobOffer.job.title }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="col-lg-8">

        <a href="{{ path('intranet_job_offer_update', {'job_offer_id': jobOffer.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>


        <!-- Title -->
        <h1>Offer de poste : {{ jobOffer.job.title|capitalize }}</h1>

        <!-- Author -->
        <p class="lead">
            by {{ jobOffer.user.username }}
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Created on {{ jobOffer.creationDate|date('m/d/Y') }} à {{ jobOffer.creationDate|date('H:i') }}</p>

        <hr>


        <!-- Page Content -->
        <p class="lead">Société : {{ jobOffer.society.name }}</p>

        <p>Durée : {{ jobOffer.duration }}</p>
        <p>Salaire : {{ jobOffer.salary }}</p>
        <p>Ville : {{ jobOffer.location }}</p>

        <p>
            Description du poste : {{ jobOffer.description|raw }}
        </p>
        <hr>
    </div>

{% endblock %}