{% extends "intranet.html.twig" %}

{% block title %} Entreprises partenaires {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Entreprises partenaires
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Entreprises partenaires
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <a href="{{ path('intranet_society_create') }}" class="btn btn-primary" style="margin-bottom:10px;">Nouvelle Entreprise partenaire</a>
    <div class="container">
        <hr>

        <div class="row">
            {% for society in societies %}
                <div class="col-md-4">
                    <div class="card">

                        {% if society.logo is not null %}
                            <div class="card-image">
                                <img  src="{{ asset(society.logo.webPath) }}" height="200" style="margin:auto;">
                            </div>
                        {% endif %}

                            <span class="card-title">{{ society.name }}</span>

                        <div class="card-content">
                            <p>{{ society.presentation }}</p>
                        </div>

                        <div class="card-action">
                            <a href="{{ path('intranet_society_view', {'society': society.id}) }}" class="fa fa-eye"></a>
                            <a href="{{ path('intranet_society_update', {'society': society.id}) }}" class="fa fa-edit"></a>
                            <a href="{{ path('intranet_society_delete', {'society': society.id}) }}" class="fa fa-trash" onClick="return confirm('Supprimer la société ?')"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}