{% extends 'intranet.html.twig' %}

{% block title %} Entreprises partenaires {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Entreprises partenaires
            <small>Détails</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_societies') }}">Entreprises partenaires</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Détails : {{ society.name }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="col-lg-12">


        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{ society.name|capitalize }}</h1>

        <!-- Author -->
        <p class="lead">
            Société ajoutée le {{ society.createdAt|date('d/m/Y') }} à {{ society.createdAt|date('H:i') }}
        </p>

        <hr>

        {% if society.logo is not null %}

            <img src="{{ asset(society.logo.webPath) }}" height="200">

        {% endif %}

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ society.presentation }}</p>

        <address>
            <strong>{{ society.name | capitalize }}</strong><br>
            {{ society.address }}
            {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
        </address>

    </div>

    <br><br><br>
    <a href="{{ path('intranet_society_update', {'society': society.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>


{% endblock %}