{% extends "intranet.html.twig" %}

{% block title %} CV {% endblock %}

{% block javascripts %}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.20/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-colvis-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.4.1/featherlight.min.js"></script>
    <script src="https://raw.githubusercontent.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js'></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            CV
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> CV
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {#<a href="{{ path('cv_new') }}" class="btn btn-primary" style="margin-bottom:10px;">Nouveau CV</a>#}
    {#<div class="container">#}
        {#<hr>#}

        {#<div class="row">#}
            {#{% for cV in cVs %}#}
                {#<tr>#}
                    {#<td><a href="{{ path('cv_show', { 'id': cV.id }) }}">{{ cV.id }}</a></td>#}
                    {#<td>#}
                        {#<a href="{{ vich_uploader_asset(cV, 'cvFile') }}">CV</a>#}
                    {#</td>#}
                    {#<td>{% if cV.createdAt %}{{ cV.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#<td>{% if cV.updatedAt %}{{ cV.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#<td>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a href="{{ path('cv_show', { 'id': cV.id }) }}">show</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="{{ path('cv_edit', { 'id': cV.id }) }}">edit</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}

            {#{% for cv in cvs %}#}
                {#<div class="col-md-4">#}
                    {#<div class="card">#}

                        {#{% if society.logo is not null %}#}
                            {#<div class="card-image">#}
                                {#<img  src="{{ asset(society.logo.webPath) }}" height="200" style="margin:auto;">#}
                            {#</div>#}

                            {#<hr>#}

                        {#{% endif %}#}

                        {#<span class="card-title">{{ society.name }}</span>#}

                        {#<div class="card-content">#}
                            {#<p>{{ society.presentation }}</p>#}
                        {#</div>#}

                        {#<div class="card-action">#}
                            {#<a href="{{ path('intranet_society_view', {'society': society.id}) }}" class="fa fa-eye"></a>#}
                            {#<a href="{{ path('intranet_society_update', {'society': society.id}) }}" class="fa fa-edit"></a>#}
                            {#<a href="{{ path('intranet_society_delete', {'society': society.id}) }}" class="fa fa-trash" onClick="return confirm('Supprimer la société ?')"></a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}

    {{ datatable_render(datatable) }}

{% endblock %}
