{% extends "intranet.html.twig" %}

{% block title %} Actualités {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Actualités
            <small>Aperçu : {{ news.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_news_homepage') }}">Actualités</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Aperçu : {{ news.name }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="col-lg-12">


        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{ news.title|capitalize }}</h1>

        <!-- Author -->
        <p class="lead">
            par {{ news.getUser.usernameCanonical|capitalize }} le {{ news.creationDate|date('d/m/Y') }} à {{ news.creationDate|date('H:i') }}
        </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ news.resume }}</p>

        <p>
            {{ news.content|raw }}
        </p>

    </div>

    <br><br><br>
    <a href="{{ path('intranet_news_update', {'news_id': news.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>


{% endblock %}