<div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Changez votre avatar</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="left col-md-6">
                        <div class="row">

                            {{ form_start(form, {'attr': { 'class': 'form-horizontal well' }, 'action': path('intranet_user_change_avatar')}) }}
                            <!-- Choix de l'avatar -->
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-1">
                                    <img src="{{ profile.getGravatarUrl(100) }}"
                                         class="img-responsive img-radio img-circle" {% if profile.getGravatar == 1 %}style="opacity: 1;"{% endif %}>
                                    <button type="button"
                                            class="btn btn-primary btn-radio {% if profile.getGravatar == 1 %}active{% endif %}">
                                        Gravatar
                                    </button>
                                    {{ form_widget(form.gravatar[0], {'attr': {'hidden': 'hidden'}}) }}
                                </div>

                                {% if profile.getAvatar is not null %}
                                <div class="col-xs-4 col-xs-offset-1">
                                    <img src="{{ asset(profile.getAvatar().getWebPath()) }}"
                                         class="img-responsive img-radio img-circle" width="100" height="100" {% if profile.getGravatar == 0 %}style="opacity: 1;"{% endif %}>
                                    <button type="button" class="btn btn-primary btn-radio {% if profile.getGravatar == 0 %}active{% endif %}">Image personelle</button>
                                    {{ form_widget(form.gravatar[1], {'attr': {'hidden': 'hidden'}}) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary form-control fixed-bottom'}, 'label': 'Sauvegarder son avatar'}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="right col-md-6">
                        <!-- Upload d'un fichier -->
                        {{ render(controller('UserBundle:Profile:uploadAvatar')) }}

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>


            </div>
        </div>
    </div>
</div>

{% block javascripts %}

    <script type="text/javascript">
        $("#input-file").fileinput({
            theme: "fa",
            uploadUrl: "{{ path('intranet_user_upload_avatar') }}"
        }).on('fileuploaded', function(e, data, index) {
            console.log('fichier uploadé');
            window.location = "{{ path('intranet_user_profile') }}"
        });


        $('.btn-radio').click(function (e) {
            $('.btn-radio').not(this).removeClass('active')
                    .siblings('input').prop('checked', false)
                    .siblings('.img-radio').css('opacity', '0.5');
            $(this).addClass('active')
                    .siblings('input').prop('checked', true)
                    .siblings('.img-radio').css('opacity', '1');
        });

    </script>
{% endblock %}