{% extends "::intranet.html.twig" %}

{% block flashMessages %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad">

    <!-- Modal change avatar -->

    {{ render(controller('UserBundle:Profile:changeAvatar')) }}

    <!-- End modal -->

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Votre profil</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 left-part" align="center">
                    <div class="profile-header">
                        {% if user.profile.avatar is not null and user.profile.gravatar == 0 %}
                            <img id="avatar-img" alt="User Pic"
                                 src="{{ asset(user.profile.getAvatar().getWebPath()) }}"
                                 class="img-circle img-responsive">
                        {% else %}
                            <img id="avatar-img" alt="User Pic"
                                 src="{{ user.profile.getGravatarUrl() }}"
                                 class="img-circle img-responsive">
                        {% endif %}

                        {% for group in user.groups %}

                            <div class="alert alert-success alert-member" role="alert">{{ group.name }}</div>

                        {% endfor %}

                        {% if user.newsletter and user.newsletter.enabled %}
                        <div class="alert alert-success alert-member" role="alert">Inscrit à la liste de diffusion <br> <a href="{{ path('user_unsubscribe') }}" class="alert-link">Désinscription</a></div>
                        {% else %}
                        <div class="alert alert-danger alert-member" role="alert">Non inscrit à la liste de diffusion <br> <a href="{{ path('user_subscribe') }}" class="alert-link">Inscription</a></div>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-8 col-lg-8 right-part">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Pseudo</td>
                            <td>{{ user.profile.pseudo }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        </tr>
                        <tr>
                            <td>Nom</td>
                            <td>{{ user.profile.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Prénom</td>
                            <td>{{ user.profile.firstname }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div id="your-universe" class="panel-body collapse">
            <div class="row">
                <div class="col-md-12">
                    {% if user.profile.other %}
                    <table class="table table-user-information">
                        <tbody>
                        {% if user.profile.other %}
                        <tr>
                        <tr>
                            <td>Autre</td>
                            <td>{{ user.profile.other }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Vous n'avez pas encore rempli cette section de votre profile</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="your-universe" class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {% if cvs is defined and cvs is not empty %}
                        <h4>Vos CV</h4>

                        <table class="table table-user-information">
                            <tbody>
                                {% for cV in cvs %}
                                    <tr>
                                        <td>
                                            <a href="{{ vich_uploader_asset(cV, 'cvFile') }}">CV {{ cV.createdAt|date('d-m-Y') }}</a> - <a href="{{ path('cv_delete', { 'id': cV.id }) }}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>




    </div>
    <div class="panel-footer text-center">
        <div class="profil-actions btn-group">
            <a type="button" class="btn btn-success" data-toggle="modal" data-target="#avatar-modal">
                Modifier votre avatar
            </a>
            <a class="btn btn-success" href="{{ path('user_profile_edit') }}">Modifier vos infos</a>
            <a class="btn btn-success" href="{{ path('cv_new') }}">Ajouter un CV</a>
        </div>
    </div>

</div>
{% endblock %}
