{% block subject %}Réinitialiser votre mot de passe{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hey {{ user.username }} !

        On dirait que tu as perdu ton mot de passe.
        Tu peux le réinitialiser en suivant ce lien : {{ confirmationUrl }}


        A bientôt sur Ipssi.
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <h2>Hey {{ user.username }} !</h2>

    On dirait que tu as perdu ton mot de passe.
    <br>
    Tu peux le réinitialiser en suivant ce lien : <a href="{{ confirmationUrl }}">Réinitialiser mon mot de passe</a>
    <br>
    <br>

    A bientôt sur <a href="{{ path('ipssi_homepage') }}">Ipssi</a> !
{% endblock %}