{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.projectName) }}
</div>
<div class="form-group">
    {{ form_row(form.activityReport) }}
</div>
<div class="form-group">
    {{ form_row(form.beginDate) }}
</div>
<div class="form-group">
    {{ form_row(form.endDate) }}
</div>
<div class="form-group">
    {{ form_row(form.nbLostTimeAccident) }}
</div>
<div class="form-group">
    {{ form_row(form.nbNoneLostTimeAccident) }}
</div>
<div class="form-group">
    {{ form_row(form.nbTravelAccident) }}
</div>
<div class="form-group">
    {{ form_row(form.nbSickDay) }}
</div>
<div class="form-group">
    {{ form_row(form.nbVacancyDay) }}
</div>
<div class="form-group">
    {{ form_row(form.clientSatisfaction) }}
</div>
<div class="form-group">
    {{ form_row(form.consultantSatisfaction) }}
</div>
<div class="form-group">
    {{ form_row(form.ameliorationPoint) }}
</div>
<div class="form-group">
    {{ form_row(form.leftActivity) }}
</div>
<div class="form-group">
    {{ form_row(form.comments) }}
</div>
<div class="form-group">
    {{ form_row(form.client) }}
</div>
<div class="form-group">
    {{ form_row(form.comments) }}
</div>
{{ form_end(form) }}