{% extends 'intranet.html.twig' %}

{% block title %} Compte rendu d'activité {% endblock %}

{% block javascripts %}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.20/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-colvis-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.4.1/featherlight.min.js"></script>
    <script src="https://raw.githubusercontent.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js'></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Compte rendu d'activité
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Compte rendu d'activité
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {#<a href="{{ path('intranet_cra_create') }}" class="btn btn-primary" style="margin-bottom:10px;">Nouveau compte rendu d'activité</a>#}

    {#<div class="table-responsive">#}
        {#<table class="table table-bordered table-hover">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>#</th>#}
                {#{% if is_granted('ROLE_CREATE_CRA') == false %}#}
                    {#<th>Utilisateur</th>#}
                {#{% endif %}#}
                {#<th>Date</th>#}
                {#<th>Projet</th>#}
                {#<th>Client</th>#}
                {#<th>Statut</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for userCRA in allUserCRAs %}#}
                {#<tr>#}
                    {#<td>{{ userCRA.id }}</td>#}
                    {#{% if is_granted('ROLE_CREATE_CRA') == false %}#}
                        {#<td>{{ userCRA.user.username }}</td>#}
                    {#{% endif %}#}
                    {#<td>{{ userCRA.creationDate|date('d/m/Y') }}</td>#}
                    {#<td>{{ userCRA.projectName }}</td>#}
                    {#<td>{{ userCRA.client }}</td>#}
                    {#<td>#}
                        {#{% if userCRA.status == 0 %}#}
                            {#Hors ligne#}
                        {#{% else %}#}
                            {#En ligne#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td>#}
                        {#<a href="{{ path('intranet_cra_view', {'id': userCRA.id}) }}" class="fa fa-eye" title="Aperçu"></a>#}
                        {#<a href="{{ path('intranet_cra_update', {'id': userCRA.id}) }}" class="fa fa-pencil-square-o" title="Modifier"></a>#}
                        {#<a href="{{ path('intranet_cra_delete', {'id': userCRA.id}) }}" class="fa fa-trash-o" title="Supprimer"></a>#}
                        {#<a href="{{ path('intranet_cra_view_pdf', {'id': userCRA.id}) }}" class="fa fa-download" title="Télécharger le .pdf"></a>#}
                        {#{% if userCRA.status == 0 %}#}
                            {#<a href="{{ path('intranet_cra_online', {'id': userCRA.id}) }}" class="fa fa-toggle-off pull-right" title="Mettre en ligne"></a>#}
                        {#{% else %}#}
                            {#<a href="{{ path('intranet_cra_offline', {'id': userCRA.id}) }}" class="fa fa-toggle-on pull-right" title="Mettre hors ligne"></a>#}
                        {#{% endif %}#}
                    {#</td>#}

                {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}


    {{ datatable_render(datatable) }}


{% endblock %}