{% extends "intranet.html.twig" %}

{% block title %} Compte rendu d'activité {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Compte rendu d'activité
            <small>{{ userCRA.projectName }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_cra_homepage') }}">Compte rendu d'activité</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Aperçu : {{ userCRA.projectName }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="panel-body ">
        <div class="row">
            <div class="col-md-12">

                <!-- Title -->
                <h1>Projet : {{ userCRA.projectName|capitalize }}</h1>

                <!-- Author -->
                <p class="lead">
                    par {{ userCRA.user.username }} le {{ userCRA.creationDate|date('d/m/Y') }} à {{ userCRA.creationDate|date('H:i') }}
                </p>

                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>
                            <p>Client : {{ userCRA.client }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Projet : {{ userCRA.projectName }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Compte rendu d'activité : {{ userCRA.activityReport }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Date de début : {{ userCRA.beginDate|date('d/m/Y') }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Date de fin : {{ userCRA.endDate|date('d/m/Y') }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Nombre d'accident avec arrêt : {{ userCRA.nbLostTimeAccident }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Nombre d'accient sans arrêt : {{ userCRA.nbNoneLostTimeAccident }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Nombre d'accident de trajet : {{ userCRA.nbTravelAccident }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Nombre de jours de congés : {{ userCRA.nbVacancyDay }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Satisfaction du client : {{ userCRA.clientSatisfaction }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Satisfaction du consultant : {{ userCRA.consultantSatisfaction }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Points à améliorer : {{ userCRA.ameliorationPoint }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Activités restant à éffectuer : {{ userCRA.leftActivity }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Commentaires : {{ userCRA.comments }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <a href="{{ path('intranet_cra_update', {'id': userCRA.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>
                {% if is_granted('ROLE_EDIT_CRA') %}
                    {% if userCRA.statut.id == '1' %}
                        <a href="{{ path('intranet_cra_online', {'id': userCRA.id}) }}" class="btn btn-success" style="margin-bottom:10px;">Valider</a>
                        <a href="{{ path('intranet_cra_offline', {'id': userCRA.id}) }}" class="btn btn-danger" style="margin-bottom:10px;">Refuser</a>
                    {% elseif userCRA.statut.id != '2' %}
                        <a href="{{ path('intranet_cra_online', {'id': userCRA.id}) }}" class="btn btn-success" style="margin-bottom:10px;">Valider</a>
                    {% elseif userCRA.statut.id != '3' %}
                        <a href="{{ path('intranet_cra_offline', {'id': userCRA.id}) }}" class="btn btn-danger" style="margin-bottom:10px;">Refuser</a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}