{% extends "intranet.html.twig" %}

{% block title %} Compte rendu d'activité {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Compte rendu d'activité
            <small>{{ userCRA.projectName }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_cra_homepage') }}">Compte rendu d'activité</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Aperçu : {{ userCRA.projectName }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="col-lg-12">

        <!-- Title -->
        <h1>Projet : {{ userCRA.projectName|capitalize }}</h1>

        <!-- Author -->
        <p class="lead">
            par {{ userCRA.user.username }} le {{ userCRA.creationDate|date('d/m/Y') }} à {{ userCRA.creationDate|date('H:i') }}
        </p>

        <hr>

        <!-- Page Content -->
        <p>Client : {{ userCRA.client }}</p>
        <p>Projet : {{ userCRA.projectName }}</p>
        <p>Compte rendu d'activité : {{ userCRA.activityReport }}</p>
        <p>Date de début : {{ userCRA.beginDate|date('d/m/Y') }}</p>
        <p>Date de fin : {{ userCRA.endDate|date('d/m/Y') }}</p>
        <p>Nombre d'accident avec arrêt : {{ userCRA.nbLostTimeAccident }}</p>
        <p>Nombre d'accient sans arrêt : {{ userCRA.nbNoneLostTimeAccident }}</p>
        <p>Nombre d'accident de trajet : {{ userCRA.nbTravelAccident }}</p>
        <p>Nombre de jours d'arrêt maladie : {{ userCRA.nbSickDay }}</p>
        <p>Nombre de jours de congés : {{ userCRA.nbVacancyDay }}</p>
        <p>Satisfaction du client : {{ userCRA.clientSatisfaction }}</p>
        <p>Satisfaction du consultant : {{ userCRA.consultantSatisfaction }}</p>
        <p>Points à améliorer : {{ userCRA.ameliorationPoint }}</p>
        <p>Activités restant à éffectuer : {{ userCRA.leftActivity }}</p>
        <p>Commentaires : {{ userCRA.comments }}</p>
    </div>

    <br><br><br>
    <a href="{{ path('intranet_cra_update', {'id': userCRA.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>


{% endblock %}