{% extends 'intranet.html.twig' %}

{% block title %} Demande de congés {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Demande de congés
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Demande de congés
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <a href="{{ path('intranet_vacation_create') }}" class="btn btn-primary" style="margin-bottom:10px;">Nouvelle demande de congés</a>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for userVacation in allUserVacations %}
            <tr>
                <td>{{ userVacation.id }}</td>
                <td>{{ userVacation.beginDate|date('d/m/Y') }}</td>
                <td>{{ userVacation.endDate|date('d/m/Y') }}</td>
                <td>
                    {% if userVacation.status == 0 %}
                        Hors ligne
                    {% else %}
                        En ligne
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('intranet_vacation_view', {'vacation_id': userVacation.id}) }}" class="fa fa-eye" title="Aperçu"></a>
                    <a href="{{ path('intranet_vacation_update', {'vacation_id': userVacation.id}) }}" class="fa fa-pencil-square-o" title="Modifier"></a>
                    <a href="{{ path('intranet_vacation_delete', {'vacation_id': userVacation.id}) }}" class="fa fa-trash-o" title="Supprimer"></a>
                    <a href="#" class="fa fa-download" title="Télécharger le .csv"></a>
                    {% if userVacation.status == 0 %}
                        <a href="{{ path('intranet_vacation_online', {'vacation_id': userVacation.id}) }}" class="fa fa-toggle-off pull-right" title="Mettre en ligne"></a>
                    {% else %}
                        <a href="{{ path('intranet_vacation_offline', {'vacation_id': userVacation.id}) }}" class="fa fa-toggle-on pull-right" title="Mettre hors ligne"></a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}