{% extends "intranet.html.twig" %}

{% block title %} Demande de congés {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Demande de congés
            <small>Du {{ userVacation.beginDate|date('d/m/Y') }} au {{ userVacation.endDate|date('d/m/Y') }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_vacation_homepage') }}">Demande de congés</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Aperçu : Demande de congés Du {{ userVacation.beginDate|date('d/m/Y') }} au {{ userVacation.endDate|date('d/m/Y') }}
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="col-lg-12">

        <!-- Title -->
        <h1>Du {{ userVacation.beginDate|date('d/m/Y') }} au {{ userVacation.endDate|date('d/m/Y') }}</h1>

        <!-- Author -->
        <p class="lead">
            par {{ userVacation.user.username }} le {{ userVacation.creationDate|date('d/m/Y') }} à {{ userVacation.creationDate|date('H:i') }}
        </p>

        <hr>

        <!-- Page Content -->
        <p class="lead">
            Nombre de jours : {{ userVacation.nbDays }}
        </p>
        <p>Commentaire : {{ userVacation.comment }}</p>
    </div>

    <br><br><br>
    <a href="{{ path('intranet_vacation_update', {'id': userVacation.id}) }}" class="btn btn-primary" style="margin-bottom:10px;">Modifier</a>


{% endblock %}