{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.name) }}
</div>
<div class="form-group">
    {{ form_row(form.title) }}
</div>
<div class="form-group">
    {{ form_row(form.content) }}
</div>
<div class="form-group">
    {{ form_row(form.slug) }}
</div>
<div class="form-group">
    {{ form_row(form.metaDescription) }}
</div>
<div class="form-group">
    {{ form_row(form.metaKeywords) }}
</div>
<div class="form-group">
    {{ form_row(form.pageCategory) }}
</div>
<div class="form-group">
    {{ form_row(form.pageTemplate) }}
</div>
{{ form_end(form) }}